<% if user_signed_in? %>
  <h2><%= "ようこそ、#{current_user.account_name}さん" %></h2>

    <%= form_with model: @article, url: articles_path do |f| %>
      <div class="tweet-box">
        <div class="tweet-box-top">
          <%= f.text_area :tweet, placeholder: "30文字以内でつぶやく", class: 'tweet'%>
        </div>
        <div class="tweet-box-bottom">
          <%= f.submit "ツイートする", class: 'button'%>
        </div>
      </div>
    <% end %>
    
  <br>
    <%= link_to user_path(current_user.id) do%>
      <%= "マイページへ"%>
    <% end %>
    
  <% else %>
  <h1><%= "MiniTweetへようこそ" %></h1>
  一言つぶやけるアプリです
  <br>
  現時点ではGoogle Chromeでの使用を想定しています
  <br>
  <br>
    <%= link_to new_user_registration_path do %>
      <%= "ユーザー登録ページへ" %>
    <% end %>
  <br>
    <%= link_to new_user_session_path do %>
      <%= "ログインページへ" %>
    <% end %>
<% end %>

<br>
<% if user_signed_in? %>
  <h3>全てのユーザーのツイート</h3>
  <% Article.all.order(created_at: "DESC").each do |article| %>
    <% if user_signed_in? %>
      <div class="title">
        <%= link_to "#{article.user.account_name}",user_path(article.user.id) %>
        <%= "(#{article.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M:%S")})：" %>
        <%= article.tweet %>
        <span action="<%= create_like_article_path(article) %>" class="like <% if article.likes.find_by(user_id: current_user.id) != nil %>active<% end %>" id="article<%= article.id%>" style="color:#ff006f">いいね！<%= article.likes.count %></span>
      </div>
    <% else %>
      <div class="title">
        <%= "#{article.user.account_name}(#{article.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M:%S")})：" %>
        <%= article.tweet %>
        <span action="<%= create_like_article_path(article) %>" class="like" style="color:#ff006f">いいね！<%= article.likes.count %></span>
      </div>
    <% end %>
  <% end %>
<% else %>
  <h3>全てのユーザーのツイート</h3>
  ツイートを表示するにはログインしよう
<% end %>

<% if user_signed_in? %>
  
  <h3>通知</h3>
  <% Notification.where(notifying_id: current_user.id).order(created_at: "DESC").each do |notification| %>
      <div class="title">
        <% if notification.article_id != nil %>
          <%= User.find(notification.notified_by_id).account_name %>さんがいいねしました！「<%= Article.find(notification.article_id).tweet %>」
        <%# <% else %>
          <%# <%= User.find(notification.notified_by_id).account_nameさんがあなたをフォローしました %> 
        <% end %>
      </div>
  <% end %>
<% end %>