<h2><%= "#{@user.account_name}さんのマイページ"%></h2>
アカウント_id @<%= @user.account_id %><br>
<%= @user.created_at.in_time_zone('Tokyo').strftime("%Y年%m月") %>からMiniTweetを利用しています<br>
<%# <% if @user.id != current_user.id %> 
  <%# <div id="follow" action="<%= follow_user_path(@user.id)"> %>
    <%# <% if Follow.find_by(followed_by_id: current_user.id) == nil %>
      <%# フォローする %>
    <%# <% else %> 
      <%# フォロー中 %>
    <%# <% end %> 
  <%# </div> %>
<%# <% end %> 

<%# <%= "フォロー数:#{Follow.where(followed_by_id: @user.id).count}" %> 
<%# <% Follow.where(followed_by_id: @user.id).each do |follow| %> 
  <%# <%= link_to User.find(follow.following_id).account_name, user_path(follow.following_id)さん %>
<%# <% end %> 
<%# <br> %>
<%# <span id="follower"> %>
  <%# <%= "フォロワー数:#{Follow.where(following_id: @user.id).count}" %> 
  <%# <% Follow.where(following_id: @user.id).each do |follow| %> 
    <%# <%= link_to User.find(follow.followed_by_id).account_name, user_path(follow.followed_by_id)さん %>
  <%# <% end %> 
<%# </span> %>
<br>
<h3>投稿したツイート</h3>
<% Article.where(user_id: @user.id).order(created_at: "DESC").each do |article| %>
  <div class="title">
    <%= "#{article.user.account_name}(#{article.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M:%S")})：" %>
    <%= article.tweet %>
    <span action="<%= create_like_article_path(article) %>" class="like <% if article.likes.find_by(user_id: current_user.id) != nil %>active<% end %>" id="article<%= article.id%>" style="color:#ff006f">いいね！<%= article.likes.count %></span>
    <br>
  </div>
<% end %>

<br>
<%= link_to "トップページに戻る",root_path %>